Assigment2_SaleManagement/.vs/Assigment2_SaleManagement/FileContentIndex/2cb72a6a-9b49-4a7e-bfde-3a2f0ce0e85f.vsidx
Assigment2_SaleManagement/.vs/Assigment2_SaleManagement/FileContentIndex/47c14f95-009b-4139-8fe5-7111f9dffe4a.vsidx
Assigment2_SaleManagement/.vs/Assigment2_SaleManagement/FileContentIndex/89736991-6d5e-434a-820f-0fa05793d968.vsidx
Assigment2_SaleManagement/.vs/Assigment2_SaleManagement/FileContentIndex/eff71556-c976-4342-a21c-2d9904a08abe.vsidx
Assigment2_SaleManagement/.vs/Assigment2_SaleManagement/FileContentIndex/read.lock
Assigment2_SaleManagement/SaleManagement.repo/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Assigment2_SaleManagement/SaleManagement.repo/obj/Debug/net6.0/SaleManagement.repo.AssemblyInfo.cs
Assigment2_SaleManagement/SaleManagement.repo/obj/Debug/net6.0/SaleManagement.repo.AssemblyInfoInputs.cache
Assigment2_SaleManagement/SaleManagement.repo/obj/Debug/net6.0/SaleManagement.repo.csproj.AssemblyReference.cache
Assigment2_SaleManagement/SaleManagement.repo/obj/Debug/net6.0/SaleManagement.repo.GeneratedMSBuildEditorConfig.editorconfig
Assigment2_SaleManagement/SaleManagement.repo/obj/Debug/net6.0/SaleManagement.repo.GlobalUsings.g.cs
Assigment2_SaleManagement/SaleManagement.winform/obj/Debug/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Assigment2_SaleManagement/SaleManagement.winform/obj/Debug/net6.0-windows/SaleManagement.winform.AssemblyInfo.cs
Assigment2_SaleManagement/SaleManagement.winform/obj/Debug/net6.0-windows/SaleManagement.winform.AssemblyInfoInputs.cache
Assigment2_SaleManagement/SaleManagement.winform/obj/Debug/net6.0-windows/SaleManagement.winform.csproj.AssemblyReference.cache
Assigment2_SaleManagement/SaleManagement.winform/obj/Debug/net6.0-windows/SaleManagement.winform.GeneratedMSBuildEditorConfig.editorconfig
Assigment2_SaleManagement/SaleManagement.winform/obj/Debug/net6.0-windows/SaleManagement.winform.GlobalUsings.g.cs
